
/*  */

body{
    margin: 0;
    padding: 0;
    color: red;
}


body{
    --themeColor: ;
    background-color: var(--themeColor);
    --themeTextColor: ;
    
}

p{
    color: var(--themeTextColor);
}

/*--------------------------------------------------------------
# SECTION 1 
--------------------------------------------------------------*/



/* MENU CSS */


/*  FIN MENU CSS*/



/* CAROUSEL CSS */
.carousel_div{
    background-color: rgb(187, 255, 0);
    height: 100vh;
}

/* FIN CAROUSEL CSS*/


/*--------------------------------------------------------------
# FIN SECTION 1
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# SECTION 2
--------------------------------------------------------------*/

#services{
    background-color: rgb(55, 0, 255);
    height: 100vh;
}

#team{
    background-color: rgb(255, 0, 212);
    height: 100vh;
}


/*--------------------------------------------------------------
# FIN SECTION 2
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# SECTION 3
--------------------------------------------------------------*/

#footer{
    background-color: rgb(84, 121, 0);
    height: 100vh;
}



/*--------------------------------------------------------------
# FIN SECTION 3
--------------------------------------------------------------*/
